# The Task At Hand

In this Jupyter notebook I will be completing the City-Hive exercise that has been handed to me. This project at the time of completion will be able to:

1)Upload a dataset from a website containing corona statistics from a CSV format into a AWS database of PostgreSQL format.

2)Run a query that answers the following question and export its result into a csv file: How many countries does the dataset include?

3)Upload that csv file into an AWS S3 bucket.

# Plan of Action

*Step 1*

    A) Import all the packages needed for this project
    B) Get the URL of the hyperlink that needs to clicked in order to download the dataset
    C) Download the dataset and save it to our directory
    D) Create an SQL statement to give to our AWS databse to create our table
    E) Connect to our AWS database
    F) Creat an empty table with the names of the columns in our database
    G) Copy the rest of the data into the database

*Step 2*

    H) Make a pandas query function to give the results of the unique countries in the location column.
    I) Save and export the results of the query into our working directory
    
*Step 3*

    J) Connect to the S3 bucket I made
    K) Upload the CSV file to the bucket

## A)Import all the packages needed for this project

In [76]:
try:
    import psycopg2
except:
    !pip3 install psycopg2
    import psycopg2
print("psycopg2 version: {:>30}".format(psycopg2.__version__))

try:
    import pandas
except:
    !pip3 install pandas
    import pandas
print("pandas version: {:>30}".format(pandas.__version__))

try:
    import urllib.request
except:
    !pip3 install urllib.request
    import urllib.request
print("urllib version: {:>30}".format(urllib.request.__version__))

try:
    import boto3
except:
    !pip3 install boto3
    import boto3
print("boto3 version: {:>30}".format(boto3.__version__))

psycopg2 version:    2.9.3 (dt dec pq3 ext lo64)
pandas version:                          1.2.4
urllib version:                            3.8
boto3 version:                        1.18.65

## B) Get the URL of the hyperlink that needs to clicked in order to download the dataset

In [21]:
#getting the URL of the hyperlink to download the CSV file
import re 

html = urllib.request.urlopen("https://ourworldindata.org/covid-deaths")
text = html.read()
plaintext = text.decode('utf8')
links = re.findall("href=[\"\'](.*?)[\"\']", plaintext)
csv_link = [link for link in links if "csv" in link]
print(csv_link[0])

https://covid.ourworldindata.org/data/owid-covid-data.csv

## C)Download the dataset and save it to our directory

In [22]:
#Downloading and saving the dataset from the link
from urllib.request import urlretrieve as retrieve

retrieve(csv_link[0], 'CoronaStats.csv')

('CoronaStats.csv', <http.client.HTTPMessage at 0x205d9535f10>)

## D) Create a SQL statement to create our database table so that we can import the csv we downloaded

To do so we will get the names of the columns and then join the column name with the correct data type it needs when defining a table. After that add a comma between each line. Now because the data type names are different in pandas than SQL, we shall make a dictionary to replace each column data type in pandas to the correct type name in SQL.

In [35]:
#use pandas to get names of coloumns of the csv
import os
import pandas as pd

ipynb_path = os.path.dirname(os.path.realpath("__file__"))
csv_file_path = ipynb_path + '\\CoronaStats.csv' 
csv_data = pd.read_csv(csv_file_path)
column_names = list(csv_data.columns.values)
print(column_names)

['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests', 'total_tests_per_thousand', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'new_vaccinations', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred', 'new_vaccinations_smoothed_per_million', 'new_people_vaccinated_smoothed', 'new_people_vaccinated_smoothed_per_hundred', 'stringency_index', 'population', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index', 'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'excess_mortality', 'excess_mortality_cumulative_per_million']

### As you can see here, our csv is the correct one as shown in the 5 first columns

In [31]:
csv_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [55]:
#type replacement dictionary
replacements = {
        'timedelta64[ns]': 'varchar',
        'object': 'varchar',
        'float64': 'float',
        'int64': 'int',
        'datetime64': 'timestamp'
}

col_str = ", ".join("{} {}".format(n, d) for (n, d) in zip(column_names, csv_data.dtypes.replace(replacements)))
print(col_str)
#You see from here that we have built the inside of the table with the right types nest to each column name

iso_code varchar, continent varchar, location varchar, date varchar, total_cases float, new_cases float, new_cases_smoothed float, total_deaths float, new_deaths float, new_deaths_smoothed float, total_cases_per_million float, new_cases_per_million float, new_cases_smoothed_per_million float, total_deaths_per_million float, new_deaths_per_million float, new_deaths_smoothed_per_million float, reproduction_rate float, icu_patients float, icu_patients_per_million float, hosp_patients float, hosp_patients_per_million float, weekly_icu_admissions float, weekly_icu_admissions_per_million float, weekly_hosp_admissions float, weekly_hosp_admissions_per_million float, new_tests float, total_tests float, total_tests_per_thousand float, new_tests_per_thousand float, new_tests_smoothed float, new_tests_smoothed_per_thousand float, positive_rate float, tests_per_case float, tests_units varchar, total_vaccinations float, people_vaccinated float, people_fully_vaccinated float, total_boosters float, new_vaccinations float, new_vaccinations_smoothed float, total_vaccinations_per_hundred float, people_vaccinated_per_hundred float, people_fully_vaccinated_per_hundred float, total_boosters_per_hundred float, new_vaccinations_smoothed_per_million float, new_people_vaccinated_smoothed float, new_people_vaccinated_smoothed_per_hundred float, stringency_index float, population float, population_density float, median_age float, aged_65_older float, aged_70_older float, gdp_per_capita float, extreme_poverty float, cardiovasc_death_rate float, diabetes_prevalence float, female_smokers float, male_smokers float, handwashing_facilities float, hospital_beds_per_thousand float, life_expectancy float, human_development_index float, excess_mortality_cumulative_absolute float, excess_mortality_cumulative float, excess_mortality float, excess_mortality_cumulative_per_million float

## E) Connect to our AWS database
I made a database using the AWS RDS infastructure with a PostgreSQL engine.

In [80]:
conn_string = "host=coronastatistics.cz9th7gv5riq.us-east-1.rds.amazonaws.com \
                dbname=''\
                user='postgres' password='Password'"
try:
    conn = psycopg2.connect(conn_string)
    cursor = conn.cursor()
    print("opened database succesfully")
except:
    print("Unable to connect to database")

opened database succesfully

## F) Creat an empty table with the names of the columns in our database

In [61]:
#create table without data
full_sql_query = "create table coronadata" + '(' + col_str + ')' 
cursor.execute(full_sql_query)

## G) Copy the rest of the data into the database

In [62]:
#copying the data from the csv file to the database
try:
    my_file = open(csv_file_path)
except:
    print("Could not open csv file")
SQL_STATEMENT = """
COPY coronadata FROM STDIN WITH
        CSV
        HEADER
        DELIMITER AS ','
 """
try:
    cursor.copy_expert(sql = SQL_STATEMENT, file = my_file)
    print("file copied to db")
except:
    print("Could not copy data into database")

file copied to db

In [63]:
cursor.execute("grant select on table coronadata to public")
conn.commit()
cursor.close()
print("table coronadata imported to db completed")

table coronadata imported to db completed

## H) Make a pandas query function to give the results of the unique countries in the location column.

In [65]:
#run a pandas query on the data to find unique countries number
country_count = csv_data['location'].nunique()
print(country_count)

238

## I) Save and export the results of the query into our working directory

In [68]:
#create pandas table that holds the distinct country count
distinct_countries = {'count' : [country_count]}
distinct_countries_df = pd.DataFrame(distinct_countries)
print (distinct_countries_df)

   count
0    238

In [69]:
#export it to where our code is running
with open("count_countries.csv", "w") as count_countries:
    distinct_countries_df.to_csv(count_countries, index=False)

## J) Connect to the S3 bucket I made
## K) Upload the CSV file to the bucket

In [75]:
import boto3
import os

#made a special user that has access to the s3 bucket
access_key='AKIATXLDSL5MH2CGKUHE'
secret_access_key='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'

#connect to the s3 bucket
client = boto3.client('s3', aws_access_key_id = access_key , aws_secret_access_key = secret_access_key)

#search through directory and find the CSV file we saved and upload it to s3
for file in os.listdir():
    if 'count_countries.csv' in file:
        upload_file_bucket = 'city-hive-exercise-bucket'
        upload_file_key = 'coronastats' + str(file)
        client.upload_file(file, upload_file_bucket, upload_file_key)
        break
print("CSV file uploaded to Bucket succesfully")

CSV file uploaded to Bucket succesfully